```yaml
openapi: 3.0.0
info:
  title: سرویس مدیریت کود کشاورزی
  description: |
    این مستند OpenAPI (Swagger) API سرویس مدیریت کودهای کشاورزی شرکت کلاتک را شرح می‌دهد.
    شما می‌توانید از این API برای افزودن، مشاهده، به‌روزرسانی و حذف اطلاعات مربوط به کودهای کشاورزی استفاده کنید.
  version: 1.0.0
servers:
  - url: https://kalatakco.com/api/v1
    description: سرور اصلی API (نسخه 1)
tags:
  - name: کودها
    description: عملیات مربوط به مدیریت کودهای کشاورزی
paths:
  /fertilizers:
    get:
      tags:
        - کودها
      summary: دریافت لیست همه کودهای کشاورزی
      description: این عملیات لیست کاملی از تمام کودهای کشاورزی ثبت شده را بازمی‌گرداند.
      operationId: getAllFertilizers
      responses:
        '200':
          description: لیستی از کودها با موفقیت دریافت شد.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/کود'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
    post:
      tags:
        - کودها
      summary: ایجاد یک کود کشاورزی جدید
      description: این عملیات یک کود کشاورزی جدید را به سیستم اضافه می‌کند.
      operationId: createFertilizer
      requestBody:
        description: مشخصات کود کشاورزی جدید برای ایجاد
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/کود_ورودی'
      responses:
        '201':
          description: کود جدید با موفقیت ایجاد شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/کود'
        '400':
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
  /fertilizers/{fertilizerId}:
    get:
      tags:
        - کودها
      summary: دریافت جزئیات یک کود کشاورزی خاص
      description: این عملیات جزئیات کامل یک کود کشاورزی را بر اساس شناسه منحصر به فرد آن بازمی‌گرداند.
      operationId: getFertilizerById
      parameters:
        - $ref: '#/components/parameters/fertilizerId'
      responses:
        '200':
          description: جزئیات کود با موفقیت دریافت شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/کود'
        '404':
          description: کود با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
    put:
      tags:
        - کودها
      summary: به‌روزرسانی اطلاعات یک کود کشاورزی
      description: این عملیات اطلاعات موجود یک کود کشاورزی را بر اساس شناسه آن به‌روزرسانی می‌کند.
      operationId: updateFertilizer
      parameters:
        - $ref: '#/components/parameters/fertilizerId'
      requestBody:
        description: داده‌های به‌روزرسانی شده برای کود کشاورزی
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/کود_ورودی'
      responses:
        '200':
          description: اطلاعات کود با موفقیت به‌روزرسانی شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/کود'
        '400':
          description: داده‌های ورودی نامعتبر
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
        '404':
          description: کود با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
    delete:
      tags:
        - کودها
      summary: حذف یک کود کشاورزی
      description: این عملیات یک کود کشاورزی را بر اساس شناسه منحصر به فرد آن از سیستم حذف می‌کند.
      operationId: deleteFertilizer
      parameters:
        - $ref: '#/components/parameters/fertilizerId'
      responses:
        '204':
          description: کود با موفقیت حذف شد (محتوایی برای بازگشت وجود ندارد).
        '404':
          description: کود با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/خطا'

components:
  schemas:
    کود:
      type: object
      required:
        - id
        - نام
        - فرمول
        - نوع
        - وزن_خالص_کیلوگرم
        - قیمت_واحد_ریال
        - موجود_در_انبار
        - تاریخ_تولید
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: شناسه منحصر به فرد کود
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        نام:
          type: string
          description: نام تجاری یا عمومی کود
          example: کود کامل NPK 20-20-20
        فرمول:
          type: string
          description: فرمول شیمیایی یا ترکیب اصلی کود
          example: N:20%, P:20%, K:20%
        نوع:
          type: string
          description: نوع کود (مثلاً شیمیایی، آلی، زیستی)
          enum:
            - شیمیایی
            - آلی
            - زیستی
            - ترکیبی
          example: شیمیایی
        توضیحات:
          type: string
          nullable: true
          description: توضیحات کامل در مورد کود و کاربرد آن
          example: کود کامل پودری مناسب برای تمامی مراحل رشد گیاهان زراعی و باغی.
        وزن_خالص_کیلوگرم:
          type: number
          format: float
          description: وزن خالص بسته بندی کود بر حسب کیلوگرم
          example: 25.5
        قیمت_واحد_ریال:
          type: integer
          format: int64
          description: قیمت هر واحد (مثلاً هر بسته) کود بر حسب ریال
          example: 1500000
        موجود_در_انبار:
          type: boolean
          description: وضعیت موجودی کود در انبار
          example: true
        تاریخ_تولید:
          type: string
          format: date
          description: تاریخ تولید کود (فرمت YYYY-MM-DD)
          example: 2023-01-15
        تاریخ_انقضا:
          type: string
          format: date
          nullable: true
          description: تاریخ انقضای کود (فرمت YYYY-MM-DD، اختیاری)
          example: 2025-01-15
    کود_ورودی:
      type: object
      required:
        - نام
        - فرمول
        - نوع
        - وزن_خالص_کیلوگرم
        - قیمت_واحد_ریال
        - موجود_در_انبار
        - تاریخ_تولید
      properties:
        نام:
          type: string
          description: نام تجاری یا عمومی کود
          example: کود کامل NPK 20-20-20
        فرمول:
          type: string
          description: فرمول شیمیایی یا ترکیب اصلی کود
          example: N:20%, P:20%, K:20%
        نوع:
          type: string
          description: نوع کود (مثلاً شیمیایی، آلی، زیستی)
          enum:
            - شیمیایی
            - آلی
            - زیستی
            - ترکیبی
          example: شیمیایی
        توضیحات:
          type: string
          nullable: true
          description: توضیحات کامل در مورد کود و کاربرد آن
          example: کود کامل پودری مناسب برای تمامی مراحل رشد گیاهان زراعی و باغی.
        وزن_خالص_کیلوگرم:
          type: number
          format: float
          description: وزن خالص بسته بندی کود بر حسب کیلوگرم
          example: 25.5
        قیمت_واحد_ریال:
          type: integer
          format: int64
          description: قیمت هر واحد (مثلاً هر بسته) کود بر حسب ریال
          example: 1500000
        موجود_در_انبار:
          type: boolean
          description: وضعیت موجودی کود در انبار
          example: true
        تاریخ_تولید:
          type: string
          format: date
          description: تاریخ تولید کود (فرمت YYYY-MM-DD)
          example: 2023-01-15
        تاریخ_انقضا:
          type: string
          format: date
          nullable: true
          description: تاریخ انقضای کود (فرمت YYYY-MM-DD، اختیاری)
          example: 2025-01-15
    خطا:
      type: object
      required:
        - کد
        - پیام
      properties:
        کد:
          type: string
          description: کد خطای منحصر به فرد
          example: FERT_NOT_FOUND
        پیام:
          type: string
          description: پیام توضیحی خطا
          example: کود با شناسه مشخص شده یافت نشد.
  parameters:
    fertilizerId:
      name: fertilizerId
      in: path
      description: شناسه منحصر به فرد کود
      required: true
      schema:
        type: string
        format: uuid
      example: d290f1ee-6c54-4b01-90e6-d701748f0851
```