```yaml
openapi: 3.0.0
info:
  title: سرویس کود کشاورزی
  description: |
    مستندات API برای مدیریت اطلاعات کودهای کشاورزی. این سرویس امکان ثبت، مشاهده، به‌روزرسانی و حذف کودها را فراهم می‌کند.
    برای توسعه‌دهندگان، کشاورزان و شرکت‌های توزیع کود طراحی شده است تا به مدیریت بهتر و دسترسی آسان‌تر به اطلاعات کودهای موجود کمک کند.
  version: 1.0.0
  contact:
    name: شرکت کلاتک
    url: https://kalatakco.com/
    email: info@kalatakco.com
servers:
  - url: https://kalatakco.com/api/v1
    description: سرور اصلی API برای عملیات کودهای کشاورزی
tags:
  - name: کودها
    description: عملیات مربوط به مدیریت و بازیابی اطلاعات کودهای کشاورزی.
  - name: گزارش‌ها
    description: عملیات مربوط به تولید گزارش‌ها و تحلیل‌های مرتبط با کودها.
paths:
  /fertilizers:
    get:
      tags:
        - کودها
      summary: دریافت لیست همه کودها
      description: |
        این عملیات لیست کاملی از تمام کودهای ثبت شده در سیستم را برمی‌گرداند.
        می‌توانید از پارامترهای فیلتر برای محدود کردن نتایج استفاده کنید.
      operationId: getAllFertilizers
      parameters:
        - name: type
          in: query
          description: فیلتر بر اساس نوع کود (مثلاً شیمیایی، آلی)
          required: false
          schema:
            type: string
        - name: manufacturer
          in: query
          description: فیلتر بر اساس نام تولید کننده
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: حداکثر تعداد نتایج برای بازگشت
          required: false
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: تعداد نتایجی که باید نادیده گرفته شوند (برای صفحه‌بندی)
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: لیست کودها با موفقیت بازیابی شد.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fertilizer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - کودها
      summary: ثبت کود جدید
      description: |
        این عملیات برای افزودن یک کود کشاورزی جدید به سیستم استفاده می‌شود.
        تمام فیلدهای اجباری باید در بدنه درخواست ارائه شوند.
      operationId: createFertilizer
      requestBody:
        description: اطلاعات کود جدید برای ثبت.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FertilizerCreate'
      responses:
        '201':
          description: کود با موفقیت ثبت شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: تداخل - کودی با نام مشابه قبلاً ثبت شده است.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /fertilizers/{fertilizerId}:
    get:
      tags:
        - کودها
      summary: دریافت جزئیات یک کود خاص
      description: |
        این عملیات جزئیات کامل یک کود خاص را با استفاده از شناسه یکتای آن (fertilizerId) برمی‌گرداند.
      operationId: getFertilizerById
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه یکتای کود
          required: true
          schema:
            type: string
            format: uuid
            example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
      responses:
        '200':
          description: جزئیات کود با موفقیت بازیابی شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - کودها
      summary: به‌روزرسانی اطلاعات یک کود
      description: |
        این عملیات برای به‌روزرسانی تمام اطلاعات یک کود موجود در سیستم استفاده می‌شود.
        تمام فیلدهای اجباری باید در بدنه درخواست ارائه شوند، حتی اگر تغییری نکرده باشند.
      operationId: updateFertilizer
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه یکتای کود برای به‌روزرسانی
          required: true
          schema:
            type: string
            format: uuid
            example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
      requestBody:
        description: اطلاعات به‌روز شده کود.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FertilizerUpdate'
      responses:
        '200':
          description: کود با موفقیت به‌روزرسانی شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - کودها
      summary: حذف یک کود
      description: |
        این عملیات یک کود را از سیستم با استفاده از شناسه یکتای آن حذف می‌کند.
        این عملیات غیرقابل بازگشت است و تمام اطلاعات مربوط به کود حذف خواهد شد.
      operationId: deleteFertilizer
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه یکتای کود برای حذف
          required: true
          schema:
            type: string
            format: uuid
            example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
      responses:
        '204':
          description: کود با موفقیت حذف شد (بدون محتوا).
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /fertilizers/reports/inventory:
    get:
      tags:
        - گزارش‌ها
      summary: دریافت گزارش موجودی کودها
      description: |
        این عملیات یک گزارش از موجودی فعلی کودها، شامل تعداد و ارزش کل، برمی‌گرداند.
        می‌تواند بر اساس نوع یا تولیدکننده فیلتر شود.
      operationId: getFertilizerInventoryReport
      parameters:
        - name: type
          in: query
          description: فیلتر گزارش بر اساس نوع کود
          required: false
          schema:
            type: string
        - name: manufacturer
          in: query
          description: فیلتر گزارش بر اساس تولید کننده
          required: false
          schema:
            type: string
      responses:
        '200':
          description: گزارش موجودی با موفقیت تولید شد.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryReportItem'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Fertilizer:
      type: object
      required:
        - id
        - name
        - type
        - manufacturer
        - price
        - unit
      properties:
        id:
          type: string
          format: uuid
          description: شناسه یکتای کود
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        name:
          type: string
          description: نام تجاری یا عمومی کود
          example: "کود اوره 46%"
        type:
          type: string
          description: نوع کود (شیمیایی، آلی، زیستی، کامل)
          example: "شیمیایی"
        composition:
          type: string
          description: ترکیب شیمیایی اصلی (مانند NPK 20-20-20)
          example: "N 46%"
          nullable: true
        manufacturer:
          type: string
          description: نام شرکت تولید کننده کود
          example: "پتروشیمی شیراز"
        price:
          type: number
          format: float
          description: قیمت واحد کود (به ریال)
          example: 150000
        unit:
          type: string
          description: واحد اندازه‌گیری (مثلاً کیلوگرم، لیتر، بسته)
          example: "کیلوگرم"
        description:
          type: string
          description: توضیحات تکمیلی درباره کود و کاربرد آن
          nullable: true
          example: "کود ازت بالا مناسب برای مرحله رشد رویشی گیاهان."
    FertilizerCreate:
      type: object
      required:
        - name
        - type
        - manufacturer
        - price
        - unit
      properties:
        name:
          type: string
          description: نام تجاری یا عمومی کود
          example: "کود اوره 46%"
        type:
          type: string
          description: نوع کود (شیمیایی، آلی، زیستی، کامل)
          example: "شیمیایی"
        composition:
          type: string
          description: ترکیب شیمیایی اصلی (مانند NPK 20-20-20)
          example: "N 46%"
          nullable: true
        manufacturer:
          type: string
          description: نام شرکت تولید کننده کود
          example: "پتروشیمی شیراز"
        price:
          type: number
          format: float
          description: قیمت واحد کود (به ریال)
          example: 150000
        unit:
          type: string
          description: واحد اندازه‌گیری (مثلاً کیلوگرم، لیتر، بسته)
          example: "کیلوگرم"
        description:
          type: string
          description: توضیحات تکمیلی درباره کود و کاربرد آن
          nullable: true
          example: "کود ازت بالا مناسب برای مرحله رشد رویشی گیاهان."
    FertilizerUpdate:
      type: object
      properties:
        name:
          type: string
          description: نام تجاری یا عمومی کود
          example: "کود اوره 46% (اصلاح شده)"
        type:
          type: string
          description: نوع کود (شیمیایی، آلی، زیستی، کامل)
          example: "شیمیایی"
        composition:
          type: string
          description: ترکیب شیمیایی اصلی (مانند NPK 20-20-20)
          example: "N 46%"
          nullable: true
        manufacturer:
          type: string
          description: نام شرکت تولید کننده کود
          example: "شرکت کودسازی الفا"
        price:
          type: number
          format: float
          description: قیمت واحد کود (به ریال)
          example: 155000
        unit:
          type: string
          description: واحد اندازه‌گیری (مثلاً کیلوگرم، لیتر، بسته)
          example: "کیلوگرم"
        description:
          type: string
          description: توضیحات تکمیلی درباره کود و کاربرد آن
          nullable: true
          example: "کود ازت بالا مناسب برای مرحله رشد رویشی گیاهان. نسخه بهبود یافته."
    InventoryReportItem:
      type: object
      properties:
        fertilizerId:
          type: string
          format: uuid
          description: شناسه یکتای کود
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        name:
          type: string
          description: نام کود
          example: "کود اوره 46%"
        type:
          type: string
          description: نوع کود
          example: "شیمیایی"
        manufacturer:
          type: string
          description: تولید کننده
          example: "پتروشیمی شیراز"
        quantity:
          type: integer
          description: موجودی فعلی (بر اساس واحد)
          example: 5000
        unit:
          type: string
          description: واحد اندازه‌گیری
          example: "کیلوگرم"
        totalValue:
          type: number
          format: float
          description: ارزش کل موجودی این نوع کود (قیمت واحد * مقدار)
          example: 750000000
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: کد خطای مشخص
          example: 400
        message:
          type: string
          description: پیام خطای قابل فهم برای کاربر
          example: "درخواست نامعتبر است: نام کود نمی‌تواند خالی باشد."
  responses:
    BadRequest:
      description: درخواست نامعتبر است.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: منبع مورد نظر یافت نشد.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'