```yaml
openapi: 3.0.0
info:
  title: سرویس مدیریت کود کشاورزی
  description: >
    این مستندات API برای مدیریت اطلاعات کودهای کشاورزی طراحی شده است. 
    سرویس «کود کشاورزی» به کاربران امکان می‌دهد تا کودهای مختلف را ایجاد، مشاهده، 
    به‌روزرسانی و حذف کنند. این ابزار برای کسب‌وکارهایی که با محصولات کشاورزی 
    و نیازهای تغذیه‌ای گیاهان سر و کار دارند، ایده‌آل است.
  version: 1.0.0
servers:
  - url: https://kalatakco.com/api/v1
    description: سرور اصلی API
tags:
  - name: کودها
    description: عملیات مربوط به مدیریت کودهای کشاورزی
paths:
  /fertilizers:
    get:
      tags:
        - کودها
      summary: دریافت لیست تمام کودهای کشاورزی
      operationId: getAllFertilizers
      description: |
        این عملیات لیست کاملی از تمام کودهای کشاورزی ثبت شده در سیستم را برمی‌گرداند. 
        امکان فیلتر کردن و صفحه‌بندی نتایج نیز فراهم است.
      parameters:
        - in: query
          name: type
          schema:
            type: string
          description: فیلتر کردن کودها بر اساس نوع (مثلاً شیمیایی، آلی، زیستی)
          example: شیمیایی
        - in: query
          name: limit
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 10
          description: حداکثر تعداد نتایجی که باید برگردانده شود.
          example: 50
        - in: query
          name: offset
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
          description: تعداد رکوردهایی که باید از ابتدای لیست نادیده گرفته شوند (برای صفحه‌بندی).
          example: 10
      responses:
        '200':
          description: لیست کودها با موفقیت دریافت شد.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر است. پارامترهای ارسالی اشکال دارند.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - کودها
      summary: ایجاد یک کود کشاورزی جدید
      operationId: createFertilizer
      description: |
        این عملیات برای افزودن یک کود کشاورزی جدید به سیستم استفاده می‌شود. 
        تمام اطلاعات لازم برای تعریف یک کود باید در بدنه درخواست ارسال شود.
      requestBody:
        description: اطلاعات کود کشاورزی جدید برای ایجاد.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FertilizerInput'
      responses:
        '201':
          description: کود کشاورزی با موفقیت ایجاد شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: اطلاعات ورودی نامعتبر است.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /fertilizers/{id}:
    get:
      tags:
        - کودها
      summary: دریافت جزئیات یک کود کشاورزی خاص
      operationId: getFertilizerById
      description: |
        این عملیات جزئیات کامل یک کود کشاورزی را بر اساس شناسه (ID) منحصر به فرد آن برمی‌گرداند.
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            format: int64
          required: true
          description: شناسه منحصر به فرد کود کشاورزی.
          example: 101
      responses:
        '200':
          description: جزئیات کود با موفقیت دریافت شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '404':
          description: کود با شناسه مشخص یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - کودها
      summary: به‌روزرسانی اطلاعات یک کود کشاورزی
      operationId: updateFertilizer
      description: |
        این عملیات برای به‌روزرسانی اطلاعات موجود یک کود کشاورزی استفاده می‌شود. 
        شناسه کود در مسیر URL و اطلاعات به‌روزرسانی شده در بدنه درخواست ارسال می‌شود.
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            format: int64
          required: true
          description: شناسه منحصر به فرد کود کشاورزی که باید به‌روزرسانی شود.
          example: 101
      requestBody:
        description: اطلاعات به‌روزرسانی شده برای کود کشاورزی.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FertilizerInput'
      responses:
        '200':
          description: کود کشاورزی با موفقیت به‌روزرسانی شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: اطلاعات ورودی نامعتبر است.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: کود با شناسه مشخص یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - کودها
      summary: حذف یک کود کشاورزی
      operationId: deleteFertilizer
      description: |
        این عملیات یک کود کشاورزی را از سیستم بر اساس شناسه منحصر به فرد آن حذف می‌کند.
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            format: int64
          required: true
          description: شناسه منحصر به فرد کود کشاورزی که باید حذف شود.
          example: 101
      responses:
        '204':
          description: کود کشاورزی با موفقیت حذف شد. (بدون محتوا)
        '404':
          description: کود با شناسه مشخص یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Fertilizer:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: شناسه منحصر به فرد کود
          readOnly: true
          example: 101
        name:
          type: string
          description: نام تجاری یا عمومی کود
          example: کود کامل NPK 20-20-20
        type:
          type: string
          description: نوع کود (مثلاً شیمیایی، آلی، زیستی، مایع، گرانول)
          example: شیمیایی
        composition:
          type: string
          description: ترکیبات اصلی و درصد عناصر موجود در کود
          example: 20% نیتروژن، 20% فسفر، 20% پتاسیم
        weight_kg:
          type: number