```yaml
openapi: 3.0.0
info:
  title: سرویس مدیریت کود کشاورزی
  description: API جامع برای مدیریت اطلاعات کودهای کشاورزی، شامل ثبت، مشاهده، به‌روزرسانی و حذف سوابق. این سرویس امکان دسترسی به جزئیات کودها و فیلتر کردن آن‌ها بر اساس معیارهای مختلف را فراهم می‌کند.
  version: 1.0.0
servers:
  - url: https://kalatakco.com/api/v1
    description: سرور اصلی سرویس کود کشاورزی
tags:
  - name: کودها
    description: عملیات مربوط به مدیریت کودهای کشاورزی
paths:
  /fertilizers:
    get:
      tags:
        - کودها
      summary: دریافت لیست همه کودهای کشاورزی
      description: این عملیات لیست کاملی از تمام کودهای کشاورزی ثبت شده را بازمی‌گرداند. امکان فیلتر کردن بر اساس نوع و تولیدکننده وجود دارد.
      operationId: getAllFertilizers
      parameters:
        - name: نوع
          in: query
          description: فیلتر کردن کودها بر اساس نوع (مثلاً "شیمیایی", "آلی", "زیستی")
          required: false
          schema:
            type: string
        - name: تولیدکننده
          in: query
          description: فیلتر کردن کودها بر اساس نام شرکت تولیدکننده
          required: false
          schema:
            type: string
      responses:
        '200':
          description: لیست کودها با موفقیت دریافت شد.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر (پارامترهای ورودی اشتباه)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - کودها
      summary: ثبت یک کود کشاورزی جدید
      description: با استفاده از این عملیات می‌توان اطلاعات یک کود کشاورزی جدید را در سیستم ثبت کرد.
      operationId: createFertilizer
      requestBody:
        description: شیء کود کشاورزی برای ثبت
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FertilizerInput'
      responses:
        '201':
          description: کود جدید با موفقیت ایجاد شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر (داده‌های ورودی ناقص یا اشتباه)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: تداخل (کودی با مشخصات مشابه از قبل وجود دارد)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /fertilizers/{fertilizerId}:
    get:
      tags:
        - کودها
      summary: دریافت جزئیات یک کود خاص
      description: این عملیات جزئیات کامل یک کود کشاورزی را بر اساس شناسه یکتای آن بازمی‌گرداند.
      operationId: getFertilizerById
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه یکتای کود کشاورزی
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: جزئیات کود با موفقیت دریافت شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '404':
          description: کود با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - کودها
      summary: به‌روزرسانی اطلاعات یک کود کشاورزی
      description: اطلاعات یک کود موجود را بر اساس شناسه آن به‌روزرسانی می‌کند.
      operationId: updateFertilizer
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه یکتای کود کشاورزی برای به‌روزرسانی
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: شیء کود کشاورزی با اطلاعات به‌روز شده
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FertilizerInput'
      responses:
        '200':
          description: اطلاعات کود با موفقیت به‌روز شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر (داده‌های ورودی ناقص یا اشتباه)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: کود با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - کودها
      summary: حذف یک کود کشاورزی
      description: یک کود کشاورزی را بر اساس شناسه یکتای آن از سیستم حذف می‌کند.
      operationId: deleteFertilizer
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه یکتای کود کشاورزی برای حذف
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: کود با موفقیت حذف شد (بدون محتوا).
        '404':
          description: کود با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /fertilizers/{fertilizerId}/stock:
    put:
      tags:
        - کودها
      summary: به‌روزرسانی موجودی انبار یک کود
      description: مقدار موجودی انبار یک کود خاص را افزایش یا کاهش می‌دهد.
      operationId: updateFertilizerStock
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه یکتای کود کشاورزی
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: مقدار تغییر در موجودی (می‌تواند مثبت یا منفی باشد)
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - مقدار_تغییر
              properties:
                مقدار_تغییر:
                  type: number
                  format: float
                  description: مقدار عددی برای افزایش یا کاهش موجودی.
                  example: 50.0
      responses:
        '200':
          description: موجودی انبار با موفقیت به‌روز شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر (مقدار تغییر نامعتبر یا موجودی منفی می‌شود)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: کود با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Fertilizer:
      type: object
      required:
        - id
        - نام
        - نوع
        - تولیدکننده
        - مقدار_موجود
        - واحد_اندازه‌گیری
        - قیمت_واحد
      properties:
        id:
          type: string
          format: uuid
          description: شناسه یکتای کود کشاورزی
          readOnly: true
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        نام:
          type: string
          description: نام تجاری یا عمومی کود
          example: کود کامل NPK 20-20-20
        نوع:
          type: string
          description: نوع کود (مثلاً شیمیایی، آلی، زیستی)
          enum:
            - شیمیایی
            - آلی
            - زیستی
            - ترکیبی
          example: شیمیایی
        تولیدکننده:
          type: string
          description: نام شرکت تولیدکننده کود
          example: شرکت کود شیمیایی ایران
        ترکیبات:
          type: array
          description: لیست عناصر یا ترکیبات اصلی کود
          items:
            type: string
          example:
            - نیتروژن 20%
            - فسفر 20%
            - پتاسیم 20%
        مقدار_موجود:
          type: number
          format: float
          description: مقدار موجودی فعلی کود در انبار
          minimum: 0
          example: 1500.5
        واحد_اندازه‌گیری:
          type: string
          description: واحد اندازه‌گیری مقدار موجودی (مثلاً کیلوگرم، لیتر، بسته)
          example: کیلوگرم
        قیمت_واحد:
          type: number
          format: float
          description: قیمت به ازای هر واحد از کود
          minimum: 0
          example: 250000.0
        تاریخ_تولید:
          type: string
          format: date
          description: تاریخ تولید کود (فرمت YYYY-MM-DD)
          example: 2023-01-15
        تاریخ_انقضا:
          type: string
          format: date
          description: تاریخ انقضای کود (فرمت YYYY-MM-DD)
          example: 2025-01-15
        توضیحات:
          type: string
          nullable: true
          description: توضیحات تکمیلی درباره کود، کاربردها و ویژگی‌ها
          example: کودی متعادل برای رشد عمومی گیاهان در مراحل مختلف.
    FertilizerInput:
      type: object
      required:
        - نام
        - نوع
        - تولیدکننده
        - مقدار_موجود
        - واحد_اندازه‌گیری
        - قیمت_واحد
      properties:
        نام:
          type: string
          description: نام تجاری یا عمومی کود
          example: کود کامل NPK 20-20-20
        نوع:
          type: string
          description: نوع کود (مثلاً شیمیایی، آلی، زیستی)
          enum:
            - شیمیایی
            - آلی
            - زیستی
            - ترکیبی
          example: شیمیایی
        تولیدکننده:
          type: string
          description: نام شرکت تولیدکننده کود
          example: شرکت کود شیمیایی ایران
        ترکیبات:
          type: array
          description: لیست عناصر یا ترکیبات اصلی کود
          items:
            type: string
          example:
            - نیتروژن 20%
            - فسفر 20%
            - پتاسیم 20%
        مقدار_موجود:
          type: number
          format: float
          description: مقدار موجودی فعلی کود در انبار
          minimum: 0
          example: 1500.5
        واحد_اندازه‌گیری:
          type: string
          description: واحد اندازه‌گیری مقدار موجودی (مثلاً کیلوگرم، لیتر، بسته)
          example: کیلوگرم
        قیمت_واحد:
          type: number
          format: float
          description: قیمت به ازای هر واحد از کود
          minimum: 0
          example: 250000.0
        تاریخ_تولید:
          type: string
          format: date
          nullable: true
          description: تاریخ تولید کود (فرمت YYYY-MM-DD)
          example: 2023-01-15
        تاریخ_انقضا:
          type: string
          format: date
          nullable: true
          description: تاریخ انقضای کود (فرمت YYYY-MM-DD)
          example: 2025-01-15
        توضیحات:
          type: string
          nullable: true
          description: توضیحات تکمیلی درباره کود، کاربردها و ویژگی‌ها
          example: کودی متعادل برای رشد عمومی گیاهان در مراحل مختلف.
    Error:
      type: object
      required:
        - کد
        - پیام
      properties:
        کد:
          type: string
          description: کد خطای منحصر به فرد
          example: FERT-00