```yaml
openapi: 3.0.0
info:
  title: سرویس مدیریت کود کشاورزی
  description: |
    این مستند OpenAPI (Swagger) شامل تعریف API برای مدیریت اطلاعات کودهای کشاورزی است.
    شما می‌توانید از این API برای مشاهده، افزودن، به‌روزرسانی و حذف اطلاعات کودها استفاده کنید.
    این سرویس توسط شرکت کلاتک ارائه شده است.
  version: 1.0.0
servers:
  - url: https://kalatakco.com/api/v1
    description: سرور اصلی API
tags:
  - name: کودها
    description: عملیات مربوط به مدیریت کودهای کشاورزی
paths:
  /fertilizers:
    get:
      tags:
        - کودها
      summary: دریافت لیست تمام کودهای کشاورزی
      description: این عملیات لیست کاملی از تمام کودهای کشاورزی موجود در سیستم را برمی‌گرداند.
      operationId: getAllFertilizers
      parameters:
        - name: type
          in: query
          description: فیلتر بر اساس نوع کود (مثال: شیمیایی، آلی)
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: حداکثر تعداد نتایج برای بازگشت
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 10
      responses:
        '200':
          description: لیستی از کودهای کشاورزی با موفقیت بازگردانده شد.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fertilizer'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - کودها
      summary: افزودن یک کود کشاورزی جدید
      description: این عملیات برای ثبت یک کود کشاورزی جدید در سیستم استفاده می‌شود.
      operationId: createFertilizer
      requestBody:
        description: اطلاعات کود کشاورزی جدید برای افزودن
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewFertilizer'
      responses:
        '201':
          description: کود کشاورزی با موفقیت ایجاد شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر (داده‌های ورودی ناقص یا اشتباه).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /fertilizers/{fertilizerId}:
    get:
      tags:
        - کودها
      summary: دریافت جزئیات یک کود کشاورزی خاص
      description: این عملیات اطلاعات کامل یک کود کشاورزی را بر اساس شناسه منحصر به فرد آن (ID) برمی‌گرداند.
      operationId: getFertilizerById
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه منحصر به فرد کود کشاورزی
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: جزئیات کود کشاورزی با موفقیت بازگردانده شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '404':
          description: کود کشاورزی با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - کودها
      summary: به‌روزرسانی اطلاعات یک کود کشاورزی
      description: این عملیات اطلاعات موجود یک کود کشاورزی را بر اساس شناسه آن به‌روزرسانی می‌کند.
      operationId: updateFertilizer
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه منحصر به فرد کود کشاورزی برای به‌روزرسانی
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: اطلاعات به‌روزرسانی شده کود کشاورزی
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewFertilizer'
      responses:
        '200':
          description: کود کشاورزی با موفقیت به‌روزرسانی شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر (داده‌های ورودی ناقص یا اشتباه).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: کود کشاورزی با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - کودها
      summary: حذف یک کود کشاورزی
      description: این عملیات یک کود کشاورزی را بر اساس شناسه منحصر به فرد آن از سیستم حذف می‌کند.
      operationId: deleteFertilizer
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه منحصر به فرد کود کشاورزی برای حذف
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: کود کشاورزی با موفقیت حذف شد. (پاسخ بدون محتوا)
        '404':
          description: کود کشاورزی با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /fertilizers/{fertilizerId}/stock:
    patch:
      tags:
        - کودها
      summary: به‌روزرسانی موجودی یک کود کشاورزی
      description: این عملیات فقط موجودی (stock) یک کود کشاورزی خاص را بر اساس شناسه آن به‌روزرسانی می‌کند.
      operationId: updateFertilizerStock
      parameters:
        - name: fertilizerId
          in: path
          description: شناسه منحصر به فرد کود کشاورزی
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: مقدار جدید موجودی
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stock:
                  type: integer
                  format: int32
                  minimum: 0
                  description: مقدار جدید موجودی کود
              required:
                - stock
      responses:
        '200':
          description: موجودی کود با موفقیت به‌روزرسانی شد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fertilizer'
        '400':
          description: درخواست نامعتبر (مقدار موجودی اشتباه).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: کود کشاورزی با شناسه مشخص شده یافت نشد.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: خطای داخلی سرور.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Fertilizer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: شناسه منحصر به فرد کود
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        name:
          type: string
          description: نام تجاری یا عمومی کود
          example: کود NPK 20-20-20
        type:
          type: string
          description: نوع کود (مثال: شیمیایی، آلی، زیستی)
          example: شیمیایی
        composition:
          type: string
          description: ترکیب شیمیایی اصلی کود (مثال: نیتروژن 20%, فسفر 20%, پتاسیم 20%)
          example: نیتروژن 20%, فسفر 20%, پتاسیم 20%
        applicationMethod:
          type: string
          description: روش توصیه شده مصرف (مثال: محلول‌پاشی، خاک‌دهی، کودآبیاری)
          example: محلول‌پاشی
        price:
          type: number
          format: float
          description: قیمت واحد کود
          example: 150000.50
        unit:
          type: string
          description: واحد اندازه‌گیری (مثال: کیلوگرم، لیتر، بسته)
          example: کیلوگرم
        stock:
          type: integer
          format: int32
          minimum: 0
          description: موجودی فعلی در انبار
          example: 1200
        manufacturer:
          type: string
          description: نام شرکت تولیدکننده
          example: شرکت کلاتک
      required:
        - id
        - name
        - type
        - composition
        - applicationMethod
        - price
        - unit
        - stock
        - manufacturer
    NewFertilizer:
      type: object
      properties:
        name:
          type: string
          description: نام تجاری یا عمومی کود
          example: کود NPK 20-20-20
        type:
          type: string
          description: نوع کود (مثال: شیمیایی، آلی، زیستی)
          example: شیمیایی
        composition:
          type: string
          description: ترکیب شیمیایی اصلی کود (مثال: نیتروژن 20%, فسفر 20%, پتاسیم 20%)
          example: نیتروژن 20%, فسفر 20%, پتاسیم 20%
        applicationMethod:
          type: string
          description: روش توصیه شده مصرف (مثال: محلول‌پاشی، خاک‌دهی، کودآبیاری)
          example: محلول‌پاشی
        price:
          type: number
          format: float
          description: قیمت واحد کود
          example: 150000.50
        unit:
          type: string
          description: واحد اندازه‌گیری (مثال: کیلوگرم، لیتر، بسته)
          example: کیلوگرم
        stock:
          type: integer
          format: int32
          minimum: 0
          description: موجودی فعلی در انبار
          example: 1200
        manufacturer:
          type: string
          description: نام شرکت تولیدکننده
          example: شرکت کلاتک
      required:
        - name
        - type
        - composition
        - applicationMethod
        - price
        - unit
        - stock
        - manufacturer
    Error:
      type: object
      properties:
        code:
          type: string
          description: کد خطای منحصر به فرد
          example: FERT_404_001
        message:
          type: string
          description: پیام خطای قابل فهم برای کاربر
          example: کود کشاورزی با شناسه مشخص شده یافت نشد.
```